extends ../layouts/main

block content
    article.content.full.full-padding.post
        h1.post-title
            = title
        p.post-date
            = format_date($date)
        
        != content
    
        div.fluid
            != $theme->partial('blocks/likely.jade', ['title' => $title, 'classes' => 'likely-medium'])

            ul.post-details
                if !empty($category)
                    - $slug = slugify($category)

                    li: span(class='post-category post-#{slug}-category')
                        = category
                if !empty($tags)
                    li: each tag in tags
                        span.post-tag= tag

            != $theme->partial('blocks/comments.jade', compact('route'))