extends ../layouts/main

block content
    article.content.full.full-padding.post
        h1.post-title= title
        
        != content
        != $theme->partial('blocks/likely.jade', ['title' => $title, 'classes' => 'likely-medium'])