extends ../layouts/main

block content
    // Обо мне
    div.about-me.full
        div.fluid.clearfix
            div.about-me-text.left
                div.columns-2.clearfix
                    div.blog.left
                        h2 Блог
                    
                        include ../snippets/posts
                    
                    div.blog.right
                        h2 Немножко обо мне
                        
                        != content
                
                
                div.columns-2.clearfix
                    div.blog.left
                        h3 Проекты
                    
                        ul
                            each project in projects
                                li
                                    a(href=$url->make('projects/' . $project['name']))
                                        = project.title
                    
                    div.blog.right
                        h3 Контакты
                
                        ul(style="margin: 0px")
                            li Twitter –
                                a(href="https://twitter.com/volter_9", target="_blank") @volter_9
                            li GitHub –
                                a(href="https://github.com/volter9", target="_blank") @volter9 
                            li Почта –
                                a(href="mailto:volter925@gmail.com") volter925@gmail.com