/**
 * Footer
 */

.footer {
    border-radius: 8px 8px 0px 0px;
    color: #aaa;
    font-weight: 100;
    
    position: absolute;
    bottom: 0px;
    left: 0px;
    
    max-width: 100%;
    padding-bottom: @margin-mobile;
    width: 100%;
}

.footer-menu {
    list-style: none;
    
    margin: 0px auto;
}

.footer-menu li {
    float: left;
    margin-right: 12px;
}

.footer-menu .right {
    margin-left: 12px;
    margin-right: 0px;
    float: right;
}

.footer-menu .up {
    font-size: 16px;
}

.footer-menu .up a {
    border-bottom: 0px;
}