doctype 5
html
    head
        include ../blocks/head

    body
        div.wrapper
            include ../blocks/navigation
            
            block content
            
            include ../blocks/footer
            include ../blocks/metrika