footer.footer
    ul.footer-menu.clearfix.fluid
        li &copy; #{date('Y')} &mdash; v2.0
        li.up
            a(href='#') &#8613;
        li.right Powered by
            a(href='https://github.com/bloge/bloge') Bloge

if isset($js)
    each script in js
        script(type='text/javascript'
               src=$url->make($script))

script(type='text/javascript',
       src=$url->make('assets/uploads/likely/likely.js'))
script(type='text/javascript',
       src=$url->make('assets/js/spoiler.js'))
script(type='text/javascript',
       src=$url->make('assets/js/hljs.js'))
script(type='text/javascript')
    typeof hljs !== 'undefined' && hljs.initHighlightingOnLoad();