- $classes = !empty($classes) && is_string($classes) ? " $classes" : '';
- $title   = !empty($title)   && is_string($title)   ? $title      : false;
- $url     = !empty($url)     && is_string($url)     ? $url        : false;

div(class='likely#{classes}', data-title=title, data-url=url)
    div.twitter(data-via='volter_9') Твитнуть
    div.vkontakte Поделится
    div.facebook Поделится