- $classes = isset($classes) ? " $classes" : ''

nav(class='fluid navigation#{classes}')
    ul.clearfix.links
        li.left
            a(href=$url->make())
                img.avatar(
                    alt="logo",
                    src=$url->make('assets/img/avatar_small.png')
                )
        
        li.left
            a(href=$url->make('blog')).nav-link Блог
        li.left
            a(href=$url->make('projects')).nav-link Проекты